.bg-color {
    background-color: #edf9fa;
}
.head-color {
    background-color: #38a0b0;
}
.bg-color-black{
    background-color: #010203;
}
.pagination {
	display: inline-block;
}

.pagination a {
	color: black;
	float: left;
	padding: 5px 5px;
	text-decoration: none;
}

.pagination a.active {
	background-color: gray;
	color: white;
	border-radius: 2px;
}
