<html>
    <body>
        <pre>
        Здравствуйте ${firstName} ${lastName},
        для активации перейдите по ссылке http://localhost:8080/activation/${source}
        Если это были не вы, то никакого действия не требуется! Удалите это сообщение!
        </pre>
    </body>
</html>